.app {
  text-align: center;
  font-family: Arial;
  margin-top: 40px;
}

.upload-box {
  margin-top: 20px;
}

.upload-box img {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
  background: #eaffea;
  padding: 15px;
  border-radius: 10px;
}
